[Unit]
Description=home-manager restart several times

[Service]
ExecStart=/bin/bash '%h/.local/bin/home-manager-restart.sh'
Restart=no
TimeoutSec=600

[Install]
WantedBy=xdg-desktop-autostart.target 
