[init]
	defaultBranch = master
{{ if not .work }}[user]
	name = lytex
	email = julianlpc15@gmail.com
	signingkey = 5718FD5B62644C307E041E2A76C4950D0942C47C{{ else }}[user]
	name = Julián López Carballal
	email = julopezc@acciona.com
	signingkey = 3D5AE531650E3E17C863D3484D4BD9AB9C62DB9D{{ end }}
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --simplify-by-decoration
	lga = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --simplify-by-decoration --all
	lgs = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lgsa = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
	li = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit --simplify-by-decoration
[pull]
	rebase = false
[push]
	autoSetupRemote = true
	followTags = true
	; default = matching
[protocol "file"]
	allow = always
[core]
	excludesfile = /home/julian/.gitignore
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[diff]
  colormoved = "default"
  colormovedws = "allow-indentation-change"
