#!/bin/bash
systemctl start gitsync --user
systemctl start syncthing --user
{{ if .work }}
systemctl start onedrive --user
[ "$(ls -A /media/julian/gdrive)" ] || (setsid rclone --vfs-cache-mode writes mount gdrive:  /media/julian/gdrive &)
[ "$(ls -A /media/julian/julian)" ] || (setsid rclone --vfs-cache-mode writes mount julian:  /media/julian/julian &) 
[ "$(ls -A /media/julian/onedrive)" ] || (setsid rclone --vfs-cache-mode writes mount onedrive:  /media/julian/onedrive &) 
{{ end }}
balooctl resume
systemctl start --user kde-baloo
systemctl start --user plasma-baloorunner

