#!/bin/bash
systemctl stop gitsync --user
systemctl stop syncthing --user
balooctl6 suspend
systemctl stop --user kde-baloo
systemctl stop --user plasma-baloorunner
{{ if .work }}
systemctl stop onedrive --user
umount /media/julian/*
{{ end }}
