alacritty=/home/julian/.config/alacritty=w0=1=1665950354
chezmoi=/home/julian/.local/share/chezmoi=w0=1=1669396359
doom.d=/home/julian/.doom.d=w0=1=1667839201
espanso=/home/julian/.config/espanso=w0=1=1
exchange2org=/home/julian/code/exchange2org=w0=1=1
go-learn=/home/julian/code/go/go-learn=w0=1=1
i3=/home/julian/.config/i3=w0=1=1
ipython=/home/julian/.ipython/profile_default=w0=1=1
julian=/home/julian=w0=1=1
klipper.vim=/home/julian/code/python/klipper.vim=w0=1=1
mail=/home/julian/code/python/mail=w0=1=1
nvim=/home/julian/.config/nvim=w0=1=1669320498
org=/home/julian/org=w0=1=1670508512
orgzly-integrations=/home/julian/code/orgzly-integrations=w0=1=1668379441
tmux=/home/julian/.config/tmux=w0=1=1
org-graph-edna=/home/julian/code/elisp/org-graph-edna=w0=1=1
firefox=/home/julian/.mozilla/firefox/rfh48qdy.default-release=w0=1=1
qmk_firmware/lytex=/home/julian/qmk_firmware/keyboards/contra/keymaps/lytex=w0=1=1
qmk_firmware=/home/julian/qmk_firmware=w0=1=1
archinstall=/home/julian/code/archinstall=w0=1=1=1669321262
