[colors]
draw_bold_text_with_bright_colors = true


{{- $example := output "/bin/bash" "-c" "/usr/bin/plasma-apply-desktoptheme --list-themes | grep current | grep light || true" }}
{{ if eq $example "" }}
# Colors (Snazzy)

# Default colors
[colors.primary]
background = '#282a36'
foreground = '#eff0eb'

# Normal colors
[colors.normal]
black   = '#282a36'
red     = '#ff5c57'
green   = '#5af78e'
yellow  = '#f3f99d'
blue    = '#57c7ff'
magenta = '#ff6ac1'
cyan    = '#9aedfe'
white   = '#f1f1f0'

# Bright colors
[colors.bright]
black   = '#686868'
red     = '#ff5c57'
green   = '#5af78e'
yellow  = '#f3f99d'
blue    = '#57c7ff'
magenta = '#ff6ac1'
cyan    = '#9aedfe'
white   = '#f1f1f0'
{{ else }}
# Colors (Solarized Light)

# Default colors
[colors.primary]
background = '#fdf6e3'
foreground = '#586e75'

# Normal colors
[colors.normal]
black   = '#073642'
red     = '#dc322f'
green   = '#859900'
yellow  = '#b58900'
blue    = '#268bd2'
magenta = '#d33682'
cyan    = '#2aa198'
white   = '#eee8d5'

# Bright colors
[colors.bright]
black   = '#002b36'
red     = '#cb4b16'
green   = '#586e75'
yellow  = '#657b83'
blue    = '#839496'
magenta = '#6c71c4'
cyan    = '#93a1a1'
white   = '#fdf6e3'
{{ end }}

[env]
TERM = "xterm-256color"

[font]
size = 10.0

[font.bold]
family = "FuraMono Nerd Font Mono"
style = "Bold"

[font.bold_italic]
family = "Fantasque Sans Mono"
style = "Bold Italic"

[font.italic]
family = "Fantasque Sans Mono"
style = "Italic"

[font.normal]
family = "FuraMono Nerd Font Mono"
style = "Medium"

# vim: sw=2 ts=2 wm=2 et ft=toml
