<!DOCTYPE kpartgui SYSTEM 'kpartgui.dtd'>
<kpartgui version="9" name="okular_shell">
 <MenuBar>
  <Menu name="file">
   <DefineGroup name="file_open" append="open_merge"/>
   <DefineGroup name="file_save" append="save_merge"/>
   <DefineGroup name="file_print" append="print_merge"/>
   <Action name="undo-close-tab" append="open_merge"/>
  </Menu>
  <!--Menu name="view" >
   <Action name="fullscreen" />
  </Menu-->
  <Menu name="settings">
   <DefineGroup name="show_merge" append="show_merge"/>
   <DefineGroup name="configure_merge" append="configure_merge"/>
  </Menu>
  <Merge/>
  <Menu name="help">
   <DefineGroup name="about_merge" append="about_merge"/>
  </Menu>
 </MenuBar>
 <ToolBar noMerge="1" name="mainToolBar">
  <text>Main Toolbar</text>
  <!--Action name="file_open_recent" /-->
  <!--Action name="file_print" /-->
 </ToolBar>
 <ActionProperties scheme="Default">
  <Action shortcut="" name="file_open_recent"/>
  <Action shortcut="" name="help_about_app"/>
  <Action shortcut="" name="help_about_kde"/>
  <Action shortcut="" name="help_donate"/>
  <Action shortcut="" name="help_report_bug"/>
  <Action shortcut="" name="options_configure_keybinding"/>
  <Action shortcut="" name="options_configure_toolbars"/>
  <Action shortcut="" name="switch_application_language"/>
  <Action shortcut="Ctrl+PgDown; G, T" name="tab-next"/>
  <Action shortcut="Ctrl+PgUp; G, Shift+T" name="tab-previous"/>
 </ActionProperties>
</kpartgui>
