[Actions]
EnableMagicMimeActions=false

[General]
ActionsInfoMessageShown=false
IgnoreImages=false
IgnoreSelection=true
MaxClipItems=2048
NoActionsForWM_CLASS=keditbookmarks,kcontrol,ksirc,klipper
TimeoutForActionPopups=1
URLGrabberEnabled=true
{{ output "tail" "-n" "1" "/home/julian/.config/klipperrc" | trim }}
