[$Version]
update_info=kwin.upd:replace-scalein-with-scale,kwin.upd:port-minimizeanimation-effect-to-js,kwin.upd:port-scale-effect-to-js,kwin.upd:port-dimscreen-effect-to-js,kwin.upd:auto-bordersize,kwin.upd:animation-speed,kwin.upd:desktop-grid-click-behavior,kwin.upd:no-swap-encourage,kwin.upd:make-translucency-effect-disabled-by-default,kwin.upd:remove-flip-switch-effect,kwin.upd:remove-cover-switch-effect,kwin.upd:remove-cubeslide-effect,kwin.upd:remove-xrender-backend,kwin.upd:enable-scale-effect-by-default,kwin.upd:overview-group-plugin-id,kwin.upd:animation-speed-cleanup,kwin.upd:replace-cascaded-zerocornered

[Activities][LastVirtualDesktop]
898a45aa-9c87-4427-820a-1c848ebc0b67=0eac05ab-75d2-4246-ac80-e3e2999b10db
a63d14cf-8417-4368-89ca-f902738bcff0=0eac05ab-75d2-4246-ac80-e3e2999b10db

[Compositing]
OpenGLIsUnsafe=false

[Desktops]
Id_1=0eac05ab-75d2-4246-ac80-e3e2999b10db
Id_10=74273673-b65f-4e63-af03-9af532525f02
Id_2=bbcf6c52-494f-442c-a55e-77bd1ecea44f
Id_3=feb0bc92-6219-4689-b726-95a9ce398c4f
Id_4=f6cedcd6-7b22-4f4b-9c8d-de53195e262e
Id_5=0418ebd4-b53c-4693-abf7-b039b45959b2
Id_6=e89cc09a-c6f5-4683-a0cd-b8bdc8a6638f
Id_7=490c8db2-4a86-40dc-a6c5-62b461e96b35
Id_8=01268e8c-b314-40c8-8086-df8102d795bb
Id_9=03db909d-8ab1-445a-9d68-0666a83e9042
Number=10
Rows=1

[Effect-colorblindnesscorrection]
Intensity=0.9354

[NightColor]
Mode=Constant

[TabBox]
LayoutName=flipswitch
MultiScreenMode=1

[Tiling]
padding=4

[Tiling][01268e8c-b314-40c8-8086-df8102d795bb][69c4e345-a6ff-4a84-ba5b-1432a8edfbf2]
tiles={"layoutDirection":"horizontal","tiles":[{"width":0.25},{"width":0.5},{"width":0.25}]}

[Tiling][01268e8c-b314-40c8-8086-df8102d795bb][9fe21d2f-2d62-4633-9609-80eb0e18af1d]
tiles={"layoutDirection":"horizontal","tiles":[{"width":0.25},{"width":0.5},{"width":0.25}]}

[Tiling][03db909d-8ab1-445a-9d68-0666a83e9042][69c4e345-a6ff-4a84-ba5b-1432a8edfbf2]
tiles={"layoutDirection":"horizontal","tiles":[{"width":0.25},{"width":0.5},{"width":0.25}]}

[Tiling][03db909d-8ab1-445a-9d68-0666a83e9042][9fe21d2f-2d62-4633-9609-80eb0e18af1d]
tiles={"layoutDirection":"horizontal","tiles":[{"width":0.25},{"width":0.5},{"width":0.25}]}

[Tiling][0418ebd4-b53c-4693-abf7-b039b45959b2][69c4e345-a6ff-4a84-ba5b-1432a8edfbf2]
tiles={"layoutDirection":"horizontal","tiles":[{"width":0.25},{"width":0.5},{"width":0.25}]}

[Tiling][0418ebd4-b53c-4693-abf7-b039b45959b2][9fe21d2f-2d62-4633-9609-80eb0e18af1d]
tiles={"layoutDirection":"horizontal","tiles":[{"width":0.25},{"width":0.5},{"width":0.25}]}

[Tiling][0eac05ab-75d2-4246-ac80-e3e2999b10db][69c4e345-a6ff-4a84-ba5b-1432a8edfbf2]
tiles={"layoutDirection":"horizontal","tiles":[{"width":0.25},{"width":0.5},{"width":0.25}]}

[Tiling][0eac05ab-75d2-4246-ac80-e3e2999b10db][9fe21d2f-2d62-4633-9609-80eb0e18af1d]
tiles={"layoutDirection":"horizontal","tiles":[{"width":0.25},{"width":0.5},{"width":0.25}]}

[Tiling][490c8db2-4a86-40dc-a6c5-62b461e96b35][69c4e345-a6ff-4a84-ba5b-1432a8edfbf2]
tiles={"layoutDirection":"horizontal","tiles":[{"width":0.25},{"width":0.5},{"width":0.25}]}

[Tiling][490c8db2-4a86-40dc-a6c5-62b461e96b35][9fe21d2f-2d62-4633-9609-80eb0e18af1d]
tiles={"layoutDirection":"horizontal","tiles":[{"width":0.25},{"width":0.5},{"width":0.25}]}

[Tiling][50ffef97-35c0-5d58-bf0b-12c0b5881920]
tiles={"layoutDirection":"horizontal","tiles":[{"width":0.25},{"width":0.5},{"width":0.25}]}

[Tiling][6498c716-ec63-5de4-b667-c4584002405a]
tiles={"layoutDirection":"horizontal","tiles":[{"width":0.25},{"width":0.5},{"width":0.25}]}

[Tiling][6ffc9819-b5ee-5c93-9bb7-4e62e3c4d161]
tiles={"layoutDirection":"horizontal","tiles":[{"width":0.25},{"width":0.5},{"width":0.25}]}

[Tiling][74273673-b65f-4e63-af03-9af532525f02][69c4e345-a6ff-4a84-ba5b-1432a8edfbf2]
tiles={"layoutDirection":"horizontal","tiles":[{"width":0.25},{"width":0.5},{"width":0.25}]}

[Tiling][74273673-b65f-4e63-af03-9af532525f02][9fe21d2f-2d62-4633-9609-80eb0e18af1d]
tiles={"layoutDirection":"horizontal","tiles":[{"width":0.25},{"width":0.5},{"width":0.25}]}

[Tiling][81fd9dc8-5d13-56e0-bddb-2b0fc49c1b3f]
tiles={"layoutDirection":"horizontal","tiles":[{"width":0.25},{"width":0.5},{"width":0.25}]}

[Tiling][bbcf6c52-494f-442c-a55e-77bd1ecea44f][69c4e345-a6ff-4a84-ba5b-1432a8edfbf2]
tiles={"layoutDirection":"horizontal","tiles":[{"width":0.25},{"width":0.5},{"width":0.25}]}

[Tiling][bbcf6c52-494f-442c-a55e-77bd1ecea44f][9fe21d2f-2d62-4633-9609-80eb0e18af1d]
tiles={"layoutDirection":"horizontal","tiles":[{"width":0.25},{"width":0.5},{"width":0.25}]}

[Tiling][c753854c-208f-5fe9-b5d9-ddb39392e37b]
tiles={"layoutDirection":"horizontal","tiles":[{"width":0.25},{"width":0.5},{"width":0.25}]}

[Tiling][e89cc09a-c6f5-4683-a0cd-b8bdc8a6638f][69c4e345-a6ff-4a84-ba5b-1432a8edfbf2]
tiles={"layoutDirection":"horizontal","tiles":[{"width":0.25},{"width":0.5},{"width":0.25}]}

[Tiling][e89cc09a-c6f5-4683-a0cd-b8bdc8a6638f][9fe21d2f-2d62-4633-9609-80eb0e18af1d]
tiles={"layoutDirection":"horizontal","tiles":[{"width":0.25},{"width":0.5},{"width":0.25}]}

[Tiling][f567ad61-6766-5f58-950a-b26fac793662]
tiles={"layoutDirection":"horizontal","tiles":[{"width":0.25},{"width":0.5},{"width":0.25}]}

[Tiling][f6cedcd6-7b22-4f4b-9c8d-de53195e262e][69c4e345-a6ff-4a84-ba5b-1432a8edfbf2]
tiles={"layoutDirection":"horizontal","tiles":[{"width":0.25},{"width":0.5},{"width":0.25}]}

[Tiling][f6cedcd6-7b22-4f4b-9c8d-de53195e262e][9fe21d2f-2d62-4633-9609-80eb0e18af1d]
tiles={"layoutDirection":"horizontal","tiles":[{"width":0.25},{"width":0.5},{"width":0.25}]}

[Tiling][feb0bc92-6219-4689-b726-95a9ce398c4f][69c4e345-a6ff-4a84-ba5b-1432a8edfbf2]
tiles={"layoutDirection":"horizontal","tiles":[{"width":0.25},{"width":0.5},{"width":0.25}]}

[Tiling][feb0bc92-6219-4689-b726-95a9ce398c4f][9fe21d2f-2d62-4633-9609-80eb0e18af1d]
tiles={"layoutDirection":"horizontal","tiles":[{"width":0.25},{"width":0.5},{"width":0.25}]}

[Windows]
DelayFocusInterval=0
FocusPolicy=FocusFollowsMouse
NextFocusPrefersMouse=true

[Xwayland]
Scale=1
