[Desktop Entry]
Type=Application
Version=1.0
Name=rclone mount
Comment=rclone mount start script
Exec=rclone --vfs-cache-mode writes mount onedrive:  /media/julian/onedrive
StartupNotify=false
Terminal=true
